* {
  box-sizing: border-box;
}

body {
  font-family: interstate, sans-serif;
  font-weight: 200;
  font-style: italic;
  color: rgb(255, 224, 214);
  margin: 0;
  background-color: black;
}

h1 {
  margin: 0em;
  /* float: right; */
  font-size: 2em;
  font-weight: lighter;
  background: -webkit-linear-gradient(
    bottom,
    rgb(255, 112, 87),
    rgb(235, 77, 50)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 3em;
  font-weight: 600;
}
h3 {
  font-size: 1.4em;
  font-weight: 500;
  /* text-align: center; */
  color: rgb(255, 112, 87);
  margin: 2em 0;
}
h4 {
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 2em;
}
h5 {
  font-size: 1.2em;
  font-weight: 300;
}
p {
  font-size: 1.2em;
  font-weight: 100;
  margin: 0 0 4em 0;
}
li {
  font-size: 1.2em;
  font-weight: 100;
}
/*==================== Style the head ===================*/

header {
  padding: 5em 3em;
  /* text-align: center; */
  background-color: rgb(255, 224, 214);
  /* color: #fd5d00; */
  padding-bottom: 7em;
  height: auto;
}

.greeting {
  color: black;
  margin: 0 1em 0 8em;
}

.greeting p {
  margin: unset;
}
.greeting p:first-child {
  font-size: 3em;
}

#logo img {
  /* width: 5em; */
  position: relative;
  float: left;
  opacity: 100%;
  width: 100px;
}

img:first-child {
  z-index: 2;
  /* top: -1.5em; */
  /* before adding greetings */
  top: -4em;
  left: -1em;
  animation-name: wink;
  animation-duration: 0.5s;
  animation-delay: 1s;
}

@keyframes wink {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

.icon img:last-child {
  opacity: 100%;
  /* top: 1.5em; */
  top: -2.5em;
  left: -7.25em;
  z-index: 1;
}

.welcome {
  position: relative;
  top: 1em;
  float: right;
  text-align: right;
  margin-bottom: 2em;
}

.fa {
  width: auto;
  margin: 5px 2px;
  color: #f9813a;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}

/* ============================= Style the menu ==================================*/
.menubar {
  position: fixed;
}

.menubar a {
  position: absolute;
  left: -4em;
  transition: 0.3s;
  padding: 1em 5em;
  width: 10em;
  text-decoration: none;
  font-size: 20px;
  color: #1a1c20;
  border-radius: 0 5px 5px 0;
  top: 5em;
  font-weight: 500;
}

/* .menu a:hover:not(.active) {
  left: -2em;
} */

a.active,
.btn:hover {
  left: -2em;
}

#what {
  top: 9em;
  background-color: rgb(255, 94, 65);
}

#how {
  top: 12.5em;
  background-color: rgb(255, 112, 87);
}
#why {
  top: 16em;
  background-color: #fc9c89;
}
#who {
  top: 19.5em;
  background-color: #fdd9d2;
}

/* ============================= Style the tab content ======================== */

/* article {
  background-color: #000000;
  width: 90%;
  float: right;
  border-radius: 5em;
} */

/* ================================ Style the Ideal of What ============================ */

/* .content {
  margin-left: 10em;
  /* display: flex; */
/* } */
* sup {
  color: rgb(248, 128, 106);
}

article {
  float: right;
  /* left: 25em; */
  width: 80%;
}
.content {
  margin: 10em 0 20em 0;
}

.innercontent {
  margin: 10em 0;
  width: 80%;
}

#sketch1 {
  width: 40em;
  float: right;
  margin: 0 2em;
  top: -5em;
}

.game {
  padding: 1em 3em;
  font-size: 1.3em;
  margin: 1em 1em;
  border-width: 0;
  border-radius: 0.5em;
  font-weight: 500;
  cursor: pointer;
}
.game:hover {
  background-color: rgb(255, 94, 65);
}

#whatcontent h2 {
  background-color: rgb(255, 94, 65);
  color: black;
}
#whatcontent h3 {
  color: rgb(255, 94, 65);
}

/* ================================ Style How ============================ */

.listcontainer {
  margin-top: 3em;
}

.listcontainer:not(:first-child) {
  margin-bottom: 4em;
}

.togglelist {
  margin: 1em;
  padding: 1em 1em 1em 0;
  /* overflow: hidden; */
  font-size: 1.2em;
}

.togglelist:hover {
  background-color: rgb(255, 112, 87);
  color: #1a1c20;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
}

.listtext {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgba(255, 255, 255, 0.007);
  color: rgb(161, 159, 159);
  font-weight: 100;
}

.listtext h4,
.listtext p {
  margin: 2em;
}

code {
  color: rgb(216, 216, 216);
  font-style: normal;
}

.circuit {
  /* float: right; */
  /* width: 50%; */
  margin: 2em 5% 0 5%;
  /* margin-right: 5%; */
  /* margin-top: -5em; */
}

.sect {
  margin-bottom: 4em;
}

.gallary {
  /* flex-wrap: wrap; */
  margin: 1em;
}

.gallary img {
  width: 30%;
  padding: 0.5em;
}

.sketch {
  margin: 4em 4em;
  width: 90%;
}

#howcontent h2 {
  background-color: rgb(255, 112, 87);
}
#howcontent h3 {
  color: rgb(255, 112, 87);
}
/* ================================ Style Why ============================ */

#whycontent h2 {
  background-color: #fc9c89;
}
#whycontent h3 {
  color: #fc9c89;
}

/* ================================ Style Who ============================ */
#whocontent h2 {
  background-color: #fdd9d2;
}
#whocontent h3 {
  color: #fdd9d2;
}

iframe {
  width: 90%;
  height: auto;
}

/* =================== Responsive the menu ====================================*/

@media screen and (max-width: 700px) {
  * {
    width: 100%;
    margin: 0;
  }
  p {
    font-size: 14px;
  }
  header {
    margin: 0 0em;
    padding: 8em 0;
  }

  .greeting {
    font-size: 12px;
    width: 50%;
    /* text-align: left; */
    margin-left: 30%;
  }
  .greeting p:last-child {
    font-size: 12px;
  }
  #logo {
    display: block;
  }
  #logo img {
    width: 100px;
    margin: unset;
    padding: unset;
    top: -90px;
    left: 55px;
  }

  #logo img:last-child {
    left: -45px;
    top: -70px;
  }
  .welcome {
    font-size: 12px;
    right: 160px;
  }

  .menubar {
    width: 100%;
    /* height: auto; */
    position: sticky;
    /* text-align: center; */
    /* display: flexbox; */
  }

  .menubar a {
    text-align: center;
    display: inline-block;
    float: none;
    position: static;
    /* transition: 0.3s; */
    padding: unset;
    margin: unset;
    box-sizing: border-box;
    width: 20%;
    /* text-decoration: none; */
    font-size: 20px;
    /* color: #1a1c20; */
    border-radius: 0;
    /* top: -5em; */
  }

  article {
    margin: auto;
    float: right;
    width: 90%;
  }

  .content {
    margin: 3em 0;
    width: 100%;
  }

  .innercontent {
    width: 100%;
    margin: 2em;
  }

  video {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  * {
    width: 100%;
    margin: 0;
  }
  p {
    font-size: 16px;
  }
  header {
    margin: 0 2em;
    padding: 2em 0;
  }

  .greeting {
    font-size: 36px;
    /* width: 80%; */
    text-align: left;
    margin-left: 2.5em;
  }
  .greeting p:first-child {
    font-size: 1.5em;
  }
  #logo {
    display: block;
  }
  #logo img {
    width: 55px;
    margin: unset;
    padding: unset;
    top: -50px;
    left: 15px;
  }

  #logo img:last-child {
    left: -40px;
    top: -40px;
  }

  .menubar {
    width: 100%;
    /* height: auto; */
    position: sticky;
  }

  .menubar a {
    text-align: center;
    display: inline-block;
    float: none;
    position: static;
    /* transition: 0.3s; */
    padding: unset;
    margin: unset;
    width: 24%;

    /* text-decoration: none; */
    font-size: 20px;
    /* color: #1a1c20; */
    border-radius: 0;
    /* top: -5em; */
  }

  article {
    margin: auto;
    float: none;
  }

  .content {
    margin: 3em 0;
    width: 100%;
  }

  .innercontent {
    width: 100%;
    margin: 2em;
  }

  video {
    width: 100%;
  }
}
